*,html body{

    margin: 0;
    padding: 0;

}

.kepala{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    padding: 15px;
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 0 5px 15 0 rgb(0, 0, 0,5);
}
.nama{
    display: flex;
    flex-direction: row;
}

.namapertama{
    color:white;
    font-weight: 800;

}

.namaterakhir{
    color:crimson;
   padding-left: 5px;
}

.menubar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menubar>li{
    list-style: none;
    padding: 20px;
    
}
   
.menubar>li>a{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    
}
.menubar>li>a:hover{
    color: crimson;
}
.p{
    background-color: crimson;
   padding: 10px;
   border-radius: 2px;

}

.p:hover{
    color: black !important;

}

footer{
    background: black;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;



}
.badan{
    
    background-position: relative;
    background-image: url("Desain\ tanpa\ judul.png")  ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30%;
    padding-top: 5px;
    padding-left: 10px;
    text-align: center;
    

}
  

.container {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 40px;
    text-align: left;


}
  
h1 {
    text-align: center;
    color: white;
}
  
form {
    margin-top: 20px;
    padding-top: 20px;
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}
  
a {
    text-decoration: none;
    color: white;
    
}
  
a:hover {
  color:#333;
}


.form-group {
    color: white;
}

.pading{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 15px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;


    
}
.pading:hover{
    color: #000;
}

.pading>li{
    padding: 20px;
}

.pencet{
    font-size: 30px;
    background-color: crimson ;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    

}
.pencet:hover{
    color: black;
}