*,html body{

    margin: 0;
    padding: 0;
}

body{
    background-position: relative;
    background-image: url("Desain\ tanpa\ judul.png")  ;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.kepala{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    padding: 15px;
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 0 5px 15 0 rgb(0, 0, 0,5);
}
.nama{
    display: flex;
    flex-direction: row;
}

.namapertama{
    color:white;
    font-weight: 800;

}

.namaterakhir{
    color:crimson;
   padding-left: 5px;
}

.menubar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar>li{
    list-style: none;
    padding: 20px;
}
   
.menubar>li>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;

    
    
}
.menubar>li>a:hover{
    color: crimson;
}
.p{
    background-color: crimson;
   padding: 10px;
   border-radius: 2px;
   font-size: 30px;
}

.p:hover{
    color: black !important;

}
.badan{
    padding-top: 5%;
    text-align: center;
    font-size:45px;
    font-weight: 800;
    color:white;
    align-items: center;
    padding-bottom: 5%;


}
footer{
    background: black;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;



}
.pencet{
    font-size: 30px;
    background-color: crimson ;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    

}
.border{
    font-size: small;
}

