*,html body{

    margin: 0;
    padding: 0;
}


.kepala{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    padding: 15px;
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 0 5px 15 0 rgb(0, 0, 0,5);

}

.nama{
    display: flex;
    flex-direction: row;
}

.namapertama{
    color:white;
    font-weight: 800;

}

.namaterakhir{
    color:crimson;
   padding-left: 5px;
}

.menubar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar>li{
    list-style: none;
    padding: 20px;
}
   
.menubar>li>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;

    
    
}
.menubar>li>a:hover{
    color: crimson;
}
.p{
    background-color: crimson;
   padding: 10px;
   border-radius: 2px;
   font-size: 30px;
}

.p:hover{
    color: black !important;

}
.badan{
    padding-top: 5%;
    text-align: center;
    font-size:35px;
    font-weight: 600;
    color:black;
    align-items: center;
    align-items: center;
    background-position: relative;
    background-image: url("pexels-emmet-35167-128421.jpg")  ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-bottom: 50%;
}

footer{
    background: black;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;



}

.pading{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 15px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;


    
}
.pading:hover{
    color: #000;
}

.pading>li{
    padding: 20px;
}



.pencet{
    font-size: 30px;
    background-color: crimson ;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    text-transform: capitalize;
    

}
.pencet:hover{
    color: white;
}

.pencett{
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    color: crimson;
    text-transform: capitalize;
    
}

.pencett:hover{
    color: white;
}



.tabel{
    padding: 30px;

}